    .our-team-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: calc( -1 *  var(--primary-margin));
        margin-left: calc( -1 *  var(--primary-margin));
    }
    .our-team-list-item {
    flex-basis: calc((100% - 120px) / 4);
        margin-top: var(--primary-margin);
        margin-left: var(--primary-margin);

        background-color: var(--primery-white-colour);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    .card-content {
        padding: 30px 30px;
    }

    .subtitle-name {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        
        color: var(--title-text-colour);
        }
    .our-team {
        background: var(--secondary-background-color)
    }  
    .caption {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
    .light-bg{
        fill: var(--primary-decoration-colour);
        border-radius: 50%;
        background-color: var(--primery-white-colour);

        transition: fill 250ms var(--transition-timing-function),
        background-color 250ms var(--transition-timing-function);
    }
    .light-bg.social-list-link:hover,
    .light-bg.social-list-link:focus {
        fill:var(--primery-white-colour);
        background-color: var(--accent-colour);
        
    }